# Build
bin/*

# Testing
mytestnet/*
report.html
.pid

# Chain data
write-file-atomic-*
.chain/data
.chain/config/addrbook.json
.chain/config/priv_validator.json
.chain/config/genesis.json
dev/api_spec/.chain

# Dependencies
vendor/*
node_modules/

# Misc.
.DS_Store
./registrar.key

# These stay ignored until we switch to modules
go.mod
go.sum
